@import "symboolcodes_v1.1.0.css";
@import "symboolcodes_lijn_v1.3.0.css";
@import "symboolcodes_punt_v1.2.0.css";
@import "symboolcodes_vlak_v1.2.0.css";

waardelijsten:before{display:block;content:'\00A0';}

versie:before, versie{
    color: white;
    font-weight: 400;
    font-size:26px;
    line-height: 33.9833px;
    background-color: #39870c;
    padding-left:10px;
    content:'IMOW waardelijsten versie ';}

versie{
    display:block;}

waardelijsten {
    font-family: arial;
    font-size:12px;
    color: black;
    width: 95%;
    margin-left: 10px;}

publicatiedatum:before, publicatiedatum{
    padding-left:10px;
    content:'Publicatiedatum: ';}

waardelijst{
    width:95%;}

waardelijst label{
    display: block;
    color: white;
    font-family: arial;
    font-size:23px;
    font-weight: 400;
    margin-left: 20px;
    padding-left:20px;
    background-color: rgb(137, 137, 137);}

waardelijst>term, waardelijst>uri, waardelijst>type, waardelijst>omschrijving, waardelijst>toelichting{
    margin-left:40px;
    display:grid;
    grid-template-columns: 100px auto;}

waarde label:before{content:'Waarde: ';}

waarde label{
    font-size: 16px;
    font-weight: bold;
    color:black;
    background-color: rgb(229, 229, 229);
    margin-left:40px;
    padding-left:20px;
    padding-top:7px;}

waarde term, waarde uri, waarde definitie, waarde toelichting, waarde bron, waarde domein, waarde specialisatie, waarde startdatum, waarde einddatum{
    display:grid;
    width:95%;
    grid-template-columns: 100px auto;
    margin-left: 60px;}

domein label:before{content:'Domein: ';}

domein label{
    font-size: 18px;
    font-weight: bold;
    color:black;
    background-color: rgb(197, 197, 197);
    margin-left:40px;
    padding-left:20px;}

domein term, domein uri, domein omschrijving, domein toelichting{
    display:grid;
    width:95%;
    grid-template-columns: 85px auto;
    margin-left: 60px;}

bron titel:before{content:'Bron: ';}

bron titel{
    display:block;
    font-size: 18px;
    font-weight: bold;
    color:black;
    background-color: rgb(167, 167, 167);
    margin-left:40px;
    padding-left:20px;}

bron term, bron uri, bron omschrijving, bron href{
    display:grid;
    width:95%;
    grid-template-columns: 85px auto;
    margin-left: 60px;}

type:before{content:'Type: ';font-weight: bold;}
definitie:before{content:'Definitie: ';font-weight: bold;}
waarde bron:before{content: 'Bron: ';font-weight: bold;}
waarde domein:before{content: 'Domein: ';font-weight: bold;}
specialisatie:before{content: 'Specialisatie: ';font-weight: bold;}
startdatum:before{content: 'Startdatum: ';font-weight: bold;}
einddatum:before{content: 'Einddatum: ';font-weight: bold;}
term:before{content:'Term: ';font-weight: bold;}
uri:before{content: 'Uri: ';font-weight: bold;}
omschrijving:before{content:'Omschrijving: ';font-weight: bold;}
toelichting:before{content: 'Toelichting: ';font-weight: bold;}
href:before{content: 'Href: ';font-weight: bold;}


symboolcode::before{content:'Symboolcodes:';font-weight:bold;margin-left:60px}
symboolcode{
    display:grid;
    grid-template-columns:160px 170px 170px 170px;
    grid-template-rows: 12px 20px;}

symboolcode *{
    display:grid;
    grid-template-columns: 40px 50px 80px;
    font-weight: bold;
    border-left:2px dotted black;
    padding-left:2px;
}

symboolcode vlak:before{display:grid;content: 'vlak: ';}
symboolcode lijn:before{display:grid;content: 'lijn: ';}
symboolcode punt:before{display:grid;content: 'punt: ';}

